<div class="row">
  <div class="col-12">
<div class="card">
  <div class="card-header">
    Diagramme en ligne (Mes notes par examen)
  </div>
  <div class="card-body">

    <div class="chart-wrapper">
      <canvas baseChart class="chart"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
      ></canvas>
    </div>
  </div>
</div>
  </div>
</div>

