<div *ngFor="let alert of alerts">
  <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" >{{ alert.msg }}</alert>
</div>
<div class="animated fadeIn">
  <div class="row" *ngFor="let classe of classes ">
    <div class="card col-12" >
      <div class="card-header">
        <strong>{{classe.nom}}</strong>
      </div>
      <div class="card-body row">
        <div *ngIf="classe.examens.length==0"><p> Vous n'avez aucun examen pour le momment.</p></div>
        <div class="col-sm-6 col-lg-3" *ngFor="let examen of toArray(classe.examens)">
          <div class="card">
            <div class="card-body">
              <div class="h4 m-0">{{examen.nom}}</div>
              <div>{{examen.date_examen}} ({{examen.duree}} h)</div>
              <div class="progress progress-xs my-3">
                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <small class="text-muted">noté sur: {{examen.bareme}}</small>
            </div>
            <div >
              <button *ngIf="isTimeToPassExam(examen.date_examen, examen.duree)" (click)="gotoExam(examen.id)" type="button" class="btn btn-block btn-primary">Participer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
